<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YDMobileClient.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3A2E586FFCA0E719F64C16F292C1555DE1F29EFB</string>
				<key>dateExpires</key>
				<string>2018/9/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3A2E586FFCA0E719F64C16F292C1555DE1F29EFB</string>
						<key>dateExpires</key>
						<string>2018/9/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4XNXN38KSW.com.yongche.iYongche.siriextension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>4XNXN38KSW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.yongche.sharingData</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>YDSiriKitExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>64d65f7a-6f9e-4d6c-8271-03005a131b28</string>
						<key>name</key>
						<string>iYongChe_SiriKitExtension_Dis</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XNXN38KSW</string>
						<key>name</key>
						<string>Yongche Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3A2E586FFCA0E719F64C16F292C1555DE1F29EFB</string>
						<key>dateExpires</key>
						<string>2018/9/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4XNXN38KSW.com.yongche.iYongche.siriuiextension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>4XNXN38KSW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.yongche.sharingData</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>YDSiriKitExtensionUI.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>745cfd19-7dad-40e5-a8dd-ebc54f6547a6</string>
						<key>name</key>
						<string>iYongChe_SiriKitUIExtension_Dis</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XNXN38KSW</string>
						<key>name</key>
						<string>Yongche Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3A2E586FFCA0E719F64C16F292C1555DE1F29EFB</string>
						<key>dateExpires</key>
						<string>2018/9/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>3A2E586FFCA0E719F64C16F292C1555DE1F29EFB</string>
								<key>dateExpires</key>
								<string>2018/9/11</string>
								<key>type</key>
								<string>iOS Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>4XNXN38KSW.com.yongche.iYongche.watchkitapp</string>
								<key>beta-reports-active</key>
								<true/>
								<key>com.apple.developer.team-identifier</key>
								<string>4XNXN38KSW</string>
								<key>get-task-allow</key>
								<false/>
								<key>keychain-access-groups</key>
								<array>
									<string>4XNXN38KSW.com.yongche.iYongche.watchkitapp</string>
								</array>
							</dict>
							<key>name</key>
							<string>YDWatchKitApp.app</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>94d2ec64-3dcd-4f28-8a07-5f4737cb8596</string>
								<key>name</key>
								<string>appWatch_Dis</string>
							</dict>
							<key>symbols</key>
							<true/>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>4XNXN38KSW</string>
								<key>name</key>
								<string>Yongche Inc</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4XNXN38KSW.com.yongche.iYongche.watchkitextension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>4XNXN38KSW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.yongche.sharingData</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>YDWatchKitApp Extension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>674be1e3-7811-4e88-9e03-a8c9a8bf2044</string>
						<key>name</key>
						<string>appleWatchExtension_Dis</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XNXN38KSW</string>
						<key>name</key>
						<string>Yongche Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3A2E586FFCA0E719F64C16F292C1555DE1F29EFB</string>
						<key>dateExpires</key>
						<string>2018/9/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4XNXN38KSW.com.yongche.iYongche.YCWidgetExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>4XNXN38KSW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.yongche.sharingData</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>YDWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>86b5ac5f-bf96-4e20-b7d8-42bf67f08035</string>
						<key>name</key>
						<string>yidao_WidgetExtension_dis</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XNXN38KSW</string>
						<key>name</key>
						<string>Yongche Inc</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9SMSWG3EG7.com.yongche.iYongche</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.yongche.unionpay.applepay</string>
				</array>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4XNXN38KSW</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.yongche.sharingData</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>YDMobileClient.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>061ff214-ea15-403f-8149-1c9f4f681c75</string>
				<key>name</key>
				<string>yongcheDis</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4XNXN38KSW</string>
				<key>name</key>
				<string>Yongche Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
